body{
    padding: 0px;
    margin: -20px 0px 0px 0px;
}

/* header navbar */

header{
    height:80vh;
    width: 100vw;
    opacity: 0.8;
    background-image: url(images/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.text-center{
    text-align: center;
}

#header-list{
    text-decoration: none;
    padding-left: 0px;
}

.list-item{
    display: inline-block;
    margin: 20px 20px 10px 0px;
    color: white;
    font-size: 1.6rem;
}

.list-item a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.list-item a:hover{
    color: lightblue;
    border-bottom: 1px solid gray;
    transition: color 0.8s, border-bottom 0.4s;
}

/* Header Name Div */

#nameDiv{
    height: 30vh;
    width: 100vw;
    margin-top: 20vh;
}

#myName{
  height: 10vh;
  width: 100%;
}

#myName h1{
    font-size: 2.4rem;
    color: white;
    font-family: sans-serif;
}


.list-item a i:hover{
    border-radius: 50%;
    box-shadow: 0px 0px 3px 10px gray;
}